<!DOCTYPE html>
<html>
<head>
    <title>HTMX Example</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <h1>Hello, HTMX!</h1>
    <form hx-post="/todos" hx-swap="outerHTML">
        <input type="text" name="task" placeholder="New task" required>
        <button type="submit">Add Task</button>
    </form>
    <ul id="tasks"></ul>
    <table>
        <thead>
            <tr>
                <th> Resource </th>
            </tr>
        </thead>
        <tbody>
            <tr 
                hx-get="/resources/test?page=1&pageSize=2"
                hx-trigger="revealed"
                hx-swap="afterend"
                hx-request='{"noHeaders": true}'>
                <!-- <td>Agent Smith</td>
                <td>void29@null.org</td>
                <td>55F49448C0</td> -->
            </tr>
        </tbody>
    </table>
</body>
</html>
